#salesInsertForm{
    padding: 20px;
}

#fixedcostsForm{
    padding: 20px;
}
#divforform{

    margin-left: 4%;
    margin-right: 20%;
    padding-top:1%;
    background: rgba(104, 143, 191, 0.38)

}

#überschrift{
    text-align: left;
    margin-left: 4%;
}



#jumbo
{
    position: fixed;
    right: 0;
    left: 0;

}


#indexTable{

    position: absolute;
    margin-top: 20em;

}


/*#buttons{

    min-width: 100px;
    margin-left: 51em;
    bottom: 0;
    right: 0;
}*/






