#salesInsertForm{
    padding: 10px;
}

#fixedcostsForm{
    padding: 10px;
}
#divforform{
    margin-left: 4%;
    margin-right: 20%;
    background: rgba(104, 143, 191, 0.38)
}

#überschrift{
    text-align: left;
    margin-left: 4%;
}

/*input:required:hover {
    border-color: rgba(200, 0, 0, 0.85);
}*/
