#salesInsertForm {

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

#fixedcostsInsertForm {

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

#divforform {

    margin-left: 4%;
    margin-right: 20%;
    margin-bottom: 5%;
    background-color: #eee;

}

#insertheading, #divformhorizontal {
    text-align: left;
    margin-left: 4%;
}

#drilldownbutton{
    background-color: #555555;
    border-color: black;
}

#startbutton{
    background:url(../img/fourschlag-logo.png) no-repeat;
    cursor:pointer;
    width: 120px;
    height: 120px;
    border: solid 1px black;
}

#startbutton:hover{
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

#spinner {
    left: 950%;
}

span.glyphicon-refresh {
    font-size: 8em;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}